.mappa{
  position: absolute;
  padding: 1px;
  border: 3px solid #FF6600;
  border-radius: 15px;
  top: 12%;
  width: 86%;
  height: 25%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  transform: translateX(-50%);
}

*{
  background-color: white;
  color: black;
}

.info{
  position: absolute;
  top: 40%;
  width: 90%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.input{
  background-color: #eee ;
  width: 93%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-color: #FF6600;
  border-width: 1px;
  color: black;
}

.legenda{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.container {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: #FF6600 solid 1px;
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #FF6600;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-legend{
  position: absolute;
  width: 37%;
}

.container-select{
  position: absolute;
  margin-top: 2%;
  left: 37%;
}

select{
  position: absolute;
  background-color: #eee;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: #FF6600 solid 1px;
  border-radius: 5px;
}

.bottone{
  background-color: #006DB6;
  position: absolute;
  top: 120%;
  align-items: center;
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border-width: 2px;
  border-color: #FF6600;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
}
